* {
	margin: 0px;
	padding: 0px;
}

#container {
	width: 100%;
	height: 2000px;
	background-color: rgb(25, 25, 25);
}

#container h1 {
	color: red;
}

.chatInput {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	
	justify-content: space-between;
	bottom: 30px;
	border: 1px solid red;
	color: white;
}

#messageCont {
	color: white;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}