


/*----------------------------------------------------------------------------------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

#tableContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	background-color: rgb(225, 225, 225);
	//position: absolute;
	overflow: hidden;
}

#header {
	background-color: rgb(245, 245, 245);
	box-shadow: 0px 1px 3px rgb(200, 200, 200);
	font-size: 5vmin;
	color: rgb(50, 50, 50);
	//border: 1px solid red;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 7vh;
	font-family: Estonia, cursive;
	font-family: lobster, cursive;
	text-shadow: 1px -1px 2px rgb(100, 100, 100);
}

#titleHeader {
	//border: 1px solid red;
	margin: auto;
	
}

/*---------------------------menu:  ----------------------------------*/
#menux {
	//border: 1px solid green;
	width: 12vw;
	//margin-top: 0.5vh;
	margin: auto;
	margin-right: 1vw;
}

#menux span{
	//border: 1px solid red;
	border-radius: 5px;
	margin: auto;
	//margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}

#menux span:hover {
	color: red;

}

/*---------------------------Solution space:  ----------------------------------*/
#solutionSpace {
	//border: 1px solid blue;
	display: flex;
	
	height: 80vh;
}

#content {
	width: 90vw;
	height: 70vh;
	border: 1px solid red;
	margin: auto;
}

/*---------------------------Footer:  ----------------------------------*/
#foot {
	display: flex;
	flex-direction: row;
	//border: 1px solid violet;
	//position: absolute;
	bottom: 0px;
	height: 10vh;
	background-color: rgb(225, 225, 225);
	box-shadow: 0px -1px 3px rgb(255, 255, 255);
	font-size: 4vmin;
}

#con1, #convert, #con2 {
	//border: 1px solid gray;
	box-shadow: 0px 1px 2px rgb(100, 100, 100), 0px -1px 3px rgb(255, 255, 255) ;
	margin: auto;
	cursor: pointer;
}

/*---------------------------convert button:  ----------------------------------*/
#convert{
	
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vh;
	padding-right: 1vh;
	border-radius: 5px;
	transition: 0.3s;
}

#convert:hover {
	background-color: rgb(25, 25, 25);
	box-shadow: -1px 1px 3px rgb(10, 10, 10), 1px 0px 4px rgb(50, 250, 250);
	color: white;
}

#convert:active {
	background-color: rgb(90, 120, 90);
	color: white;
}


/*---------------------------select numSYs button 1:  ----------------------------------*/
#con1 {
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vh;
	padding-right: 1vh;
	border-radius: 5px;
	transition: 0.3s;
}

#con1:hover {
	background-color: rgb(25, 25, 25);
	box-shadow: -1px 1px 3px rgb(10, 10, 10), 1px -1px 3px rgb(50, 250, 250);
	color: white;
}

#con1:active {
	background-color: rgb(90, 120, 90);
	color: white;

}

#con1 table {
	position: absolute;
	top: 56vh;
	margin-left: -2vw;
	//border: 1px solid red;
	display: none;
}

#con1 td {
	//border: 1px solid red;
	display: flex;
	border-radius: 5px;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	background-color: rgb(30, 30, 30);
	color: white;
	justify-content: center;
}





/*---------------------------select numSYs button 2:  ----------------------------------*/
#con2 {
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vh;
	padding-right: 1vh;
	border-radius: 5px;
	transition: 0.3s;
}

#con2:hover {
	background-color: rgb(25, 25, 25);
	box-shadow: -1px 1px 3px rgb(10, 10, 10), 1px -1px 3px rgb(50, 250, 250);
	color: white;
}

#con2:active {
	background-color: rgb(90, 120, 90);
	color: white;
}

#con2 table {
	position: absolute;
	top: 56vh;
	margin-left: -2.5vw;
	//border: 1px solid red;
	display: none;
}

#con2 td {
	//border: 1px solid red;
	display: flex;
	border-radius: 5px;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	background-color: rgb(30, 30, 30);
	color: white;
	justify-content: center;

}

/*---------------------------Comment:  ----------------------------------*/